table {
    width: 90%;
    border-collapse: collapse;
    font-size: 12px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 6px;
}

table th {
    background-color: #F2F2F2;
}

.center {
    text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;  
  align-items: center;        
}

.float-end {
  margin-left: 10px;  
}

.button {
  background-color: blue;         
  color: white;                   
  padding: 10px 20px;              
  border-radius: 5px;             
  font-size: 16px;                
  cursor: pointer;              
  text-align: center;            
  display: inline-block;        
  border: none;                 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.button:hover {
  background-color: darkblue;     
}

.btn-primary {
	color: azure;
}

.float-end {
  float: right;                  
}